# DQA Lab

In [1]:
import pandas as pd

In [6]:
fp = "data/staged/calc_cases.csv"
df = pd.read_csv(fp)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1872 entries, 0 to 1871
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   patient_id                1872 non-null   object
 1   breast_density            1872 non-null   int64
 2   left_or_right_breast      1872 non-null   object
 3   image_view                1872 non-null   object
 4   abnormality_id            1872 non-null   int64
 5   abnormality_type          1872 non-null   object
 6   calc_type                 1848 non-null   object
 7   calc_distribution         1433 non-null   object
 8   assessment                1872 non-null   int64
 9   pathology                 1872 non-null   object
 10  subtlety                  1872 non-null   int64
 11  dataset                   1872 non-null   object
 12  image_series_uid          1872 non-null   object
 13  roi_mask_series_uid       1872 non-null   object
 14  cropped_image_series_uid  1872 non-null   object
dtypes: int64(4), object(11)
memory usage: 219.5+ KB

## Completeness

In [36]:
complete = df.count().to_frame()
null = df.isnull().sum()
c = pd.concat([complete, null], axis=1)
c.columns = ['Complete', 'Null']
c['N'] = c['Complete'] + c['Null']
c['Completeness'] = c['Complete'] / c['N']
c.drop(columns='Null', inplace=True)
c = c[['N', 'Complete', 'Completeness']]
c
sc = c[['N', 'Complete']].sum().to_frame().T
sc
sc['Completeness'] = sc['Complete'] / sc['N']
sc

                             N  Complete  Completeness
patient_id                1872      1872          1.00
breast_density            1872      1872          1.00
left_or_right_breast      1872      1872          1.00
image_view                1872      1872          1.00
abnormality_id            1872      1872          1.00
abnormality_type          1872      1872          1.00
calc_type                 1872      1848          0.99
calc_distribution         1872      1433          0.77
assessment                1872      1872          1.00
pathology                 1872      1872          1.00
subtlety                  1872      1872          1.00
dataset                   1872      1872          1.00
image_series_uid          1872      1872          1.00
roi_mask_series_uid       1872      1872          1.00
cropped_image_series_uid  1872      1872          1.00

       N  Complete
0  28080     27617

       N  Complete  Completeness
0  28080     27617          0.98

In [43]:
n = df.count() + df.isnull().sum()
n

patient_id                  1872
breast_density              1872
left_or_right_breast        1872
image_view                  1872
abnormality_id              1872
abnormality_type            1872
calc_type                   1872
calc_distribution           1872
assessment                  1872
pathology                   1872
subtlety                    1872
dataset                     1872
image_series_uid            1872
roi_mask_series_uid         1872
cropped_image_series_uid    1872
dtype: int64

In [44]:
c = df.notnull().sum()
c

patient_id                  1872
breast_density              1872
left_or_right_breast        1872
image_view                  1872
abnormality_id              1872
abnormality_type            1872
calc_type                   1848
calc_distribution           1433
assessment                  1872
pathology                   1872
subtlety                    1872
dataset                     1872
image_series_uid            1872
roi_mask_series_uid         1872
cropped_image_series_uid    1872
dtype: int64

In [46]:
cn = c/n
cn

patient_id                 1.00
breast_density             1.00
left_or_right_breast       1.00
image_view                 1.00
abnormality_id             1.00
abnormality_type           1.00
calc_type                  0.99
calc_distribution          0.77
assessment                 1.00
pathology                  1.00
subtlety                   1.00
dataset                    1.00
image_series_uid           1.00
roi_mask_series_uid        1.00
cropped_image_series_uid   1.00
dtype: float64

In [48]:
c.sum() / n.sum()

0.983511396011396

In [49]:
u = df.nunique()
u

patient_id                   753
breast_density                 5
left_or_right_breast           2
image_view                     2
abnormality_id                 7
abnormality_type               1
calc_type                     47
calc_distribution              9
assessment                     5
pathology                      2
subtlety                       5
dataset                        2
image_series_uid            1511
roi_mask_series_uid         1872
cropped_image_series_uid    1872
dtype: int64

In [55]:
df.nunique().sum()

6095

In [50]:
u / n

patient_id                 0.40
breast_density             0.00
left_or_right_breast       0.00
image_view                 0.00
abnormality_id             0.00
abnormality_type           0.00
calc_type                  0.03
calc_distribution          0.00
assessment                 0.00
pathology                  0.00
subtlety                   0.00
dataset                    0.00
image_series_uid           0.81
roi_mask_series_uid        1.00
cropped_image_series_uid   1.00
dtype: float64

In [56]:
d = len(df) + (len(df)) - len(df.drop_duplicates())
d

1872

In [57]:
len(df[df.isnull()].any(axis=1))

1872

In [64]:
values [1,2]
df['breast_density'].isin(values).sum()

0    3
1    3
2    4
3    4
4    1
5    1
6    1
7    1
8    1
9    1
Name: breast_density, dtype: int64

0.10737179487179487