In [8]:
import os
import pandas as pd
import numpy as np

In [2]:
fp = "data/meta/0_raw/calc_case_description_test_set.csv"

In [4]:
meta = pd.read_csv(fp)
meta.info()
meta.iloc[0]["image file path"]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 326 entries, 0 to 325
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   patient_id               326 non-null    object
 1   breast density           326 non-null    int64
 2   left or right breast     326 non-null    object
 3   image view               326 non-null    object
 4   abnormality id           326 non-null    int64
 5   abnormality type         326 non-null    object
 6   calc type                322 non-null    object
 7   calc distribution        263 non-null    object
 8   assessment               326 non-null    int64
 9   pathology                326 non-null    object
 10  subtlety                 326 non-null    int64
 11  image file path          326 non-null    object
 12  cropped image file path  326 non-null    object
 13  ROI mask file path       326 non-null    object
dtypes: int64(4), object(10)
memory usage: 35.8+ KB

'Calc-Test_P_00038_LEFT_CC/1.3.6.1.4.1.9590.100.1.2.85935434310203356712688695661986996009/1.3.6.1.4.1.9590.100.1.2.374115997511889073021386151921807063992/000000.dcm'

In [9]:
a = 1e-6
b = 1e-10
np.geomspace(a,b,5)

array([1.e-06, 1.e-07, 1.e-08, 1.e-09, 1.e-10])

In [32]:
d = {0:{'loss': [0,1,2], 'accuracy': [3,4,5]},
     1:{'loss': [0,1,2], 'accuracy': [3,4,5]},
     2:{'loss': [0,1,2], 'accuracy': [3,4,5]}}

loss = np.array([v['loss'] for v in d.values()]).flatten()
loss
sessions = d.keys()
sessions

data = {}
for session, metrics in d.items():
    
    for metric, values in (metrics.items()):
        for epoch, value in enumerate(values):            
            data.setdefault('session',[]).append(session)
            data.setdefault('epoch',[]).append(epoch)
            data.setdefault('metric', []).append(metric)
            data.setdefault('value', []).append(value)
data
df = pd.DataFrame(data)

df.pivot(index=['session', 'epoch'], columns='metric', values='value')

array([0, 1, 2, 0, 1, 2, 0, 1, 2])

dict_keys([0, 1, 2])

{'session': [0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2],
 'epoch': [0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2],
 'metric': ['loss',
  'loss',
  'loss',
  'accuracy',
  'accuracy',
  'accuracy',
  'loss',
  'loss',
  'loss',
  'accuracy',
  'accuracy',
  'accuracy',
  'loss',
  'loss',
  'loss',
  'accuracy',
  'accuracy',
  'accuracy'],
 'value': [0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5]}

metric         accuracy  loss
session epoch
0       0             3     0
        1             4     1
        2             5     2
1       0             3     0
        1             4     1
        2             5     2
2       0             3     0
        1             4     1
        2             5     2